.hangman-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    }
    .hangman-box {
    flex: 1;
    min-width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: gray;
    background-color: #1a1a1a;
    border-radius: 10px;
    }
    .hangman-game {
    flex: 1;
    min-width: 300px;
    padding: 24px;
    background-color: #1a1a1a;
    border: 2px solid #ccc;
    border-radius: 10px;
    }